<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="/RD1_Assignment/views/img/logo.png">

	<title>天氣</title>

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<!-- Custom styles for this template -->
	<link href="/RD1_Assignment/views/css/starter-template.css" rel="stylesheet">

	<!-- Bootstrap -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
		integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
		integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
		crossorigin="anonymous"></script>

	<!-- ajax -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<style>
	.list li {
		margin: 20px;
	}

	.border {
		margin: 10px;
	}

	.gray {
		background: rgba(80, 80, 80, 0.3);
	}

	.weatherDayHeight{
		min-height: 150px;
	}

	img {
		max-width: 500px;
		max-height: 500px;
	}
</style>
<script src="/RD1_Assignment/views/js/viewModels/showViewModel.js"></script>
<script src="/RD1_Assignment/views/js/viewModels/weatherViewModel.js"></script>
<script src="/RD1_Assignment/views/js/viewModels/rainfallViewModel.js"></script>
<script src="/RD1_Assignment/views/js/weather.js"></script>
<script src="/RD1_Assignment/views/js/rainfall.js"></script>
<script type="module">
	import { City } from "../js/models/city.js";
	import { Rainfall } from "../js/models/rainfall.js";
	import { Weather } from "../js/models/weather.js";

	//抓取城市
	function getCity(type) {
		$.ajax({
			type: "GET",
			url: "/RD1_Assignment/city/getAll"
		}).then(function (e) {
			let jsonArr = JSON.parse(e);
			$("#selectLocation").empty();

			switch (type) {
				case "weather": {
					jsonArr.forEach(item => {
						$("#selectWeatherLocation").append(
							`<option value="${item._cityName}">${item._cityName}</option>`
						);
					});
				}
					break;
				case "rainfall": {
					jsonArr.forEach(item => {
						$("#selectRainfallLocation").append(
							`<option value="${item._cityName}">${item._cityName}</option>`
						);
					});
				}
					break;
			}

			//全載入時強制觸發change
			switch (type) {
				case "weather":
					$("#selectWeatherLocation").trigger("change");
					break;
				case "rainfall":
					$("#selectRainfallLocation").trigger("change");
					break;
			}
		});
	}

	$(window).ready(() => {
		weatherInit();
		getCity("weather");

		// navbar btn click
		$("#navbarWeather").click(() => {
			$("#mainShow").empty();
			weatherInit();
			getCity("weather");
		});

		$("#navaberRainfall").click(() => {
			$("#mainShow").empty();
			rainfallInit();
			getCity("rainfall");
		});
	});

</script>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="/RD1_Assignment/views/pageFront/index_.html">個人氣象站</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
			aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExampleDefault">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<div class="btn nav-link weather" id="navbarWeather">天氣</div>
				</li>
				<li class="nav-item active">
					<div class="btn nav-link rainfall" id="navaberRainfall">雨量</div>
				</li>
			</ul>
		</div>
	</nav>

	<main role="main" class="container">


		<div class="row">
			<div class="col-1"></div>
			<div class="col" id="mainShow">
				<!--主要顯示區-->

			</div>
			<div class="col-1"></div>
		</div>


	</main><!-- /.container -->

</body>

</html>